<div class="underlined-tab">
  <a href="/" class="underlined-link <% if (page_name === 'home') { %> link-active <% } %> >">Home</a>
  <a href="/popular" class="underlined-link <% if (page_name === 'popular') { %> link-active <% } %>">Popular</a>
  <a href="/category" class="underlined-link <% if (page_name === 'category') { %> link-active <% } %>">Categories</a>
  <a href="/leaderboard" class="underlined-link <% if (page_name === 'leaderboard') { %> link-active <% } %>">Leaderboard</a>
</div>
