
  <%- include('./partials/tab.ejs')%>

  <div class="container">
    <div class="container my-5">
      <h3>Leaderboards</h3>
      <p style="color: grey;">Users with the most views of photos uploaded in the last 30 days.</p>

    </div>

    <div class="container">
      <div class="col py-5">
        <% for(var i=0; i<User.length; i++) { %>
        <div class="row py-3">
          <div class="d-flex flex-column text-center pr-5">
            <p style="margin: 0;">000</p>
            <p style="margin: 0;">Viewers</p>
          </div>
          <div class="profile-image pl-5 pr-3">
            <img src="<%= User[i].img_profile%>"/>
          </div>
          <div class="d-flex flex-column">
            <h3><%= User[i].username %></h3>
            <p><%= User[i].biography %></p>
          </div>
        </div>
        <% } %>  
        </div>


      </div>
    </div>
  </div>

  <link rel="stylesheet" href="/css/leaderboard.css" />


