<%- include('./partials/tab.ejs') %>
<div class="container-fluid pt-5 text-center">
  <h1 style="text-transform: capitalize;"><%= searchQuery %> Photos</h1>
</div>
<%- include('./partials/collage.ejs') %>
