<%- include('./partials/tab.ejs') %>

<div class="container-fluid pt-4">
    <h1><%=categorySelect.category%></h1>
    <p style="width: 700px;"><%=categorySelect.description%></p>
    <hr>
</div>
<%- include('./partials/collage.ejs') %>
