.overlay { 
    position: absolute; 
    transition: all 0.3s ease; 
    opacity: 0; 
    background-color: #9bcd9b; 
} 

.container:hover .overlay { 
    opacity: 1; 
}

.container {
    position: relative;
    width : 200px;
    height: 200px;
    display: inline-block;
}

.texts {
    color :gold;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}