@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-padding {
  padding: 8em;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
ul {
  margin: auto;
}

header {
  background-color: #222831;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  margin-right: 30px;
  cursor: pointer;
  width: 40px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #29a19c;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(41, 161, 156, 1);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(41, 161, 156, 0.8);
}

body {
  margin: 0;
  padding: 0;
}

.search-box {
  margin-right: auto;
  background: #393e46;
  /* height: 40px; */
  border-radius: 40px;
  padding: 5px;
  transition: 0.4s;
}

.search-btn {
  color: #29a19c;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: transparent;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/* placeholder color  */

.search-txt::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #393e46;
  opacity: 1;
}

.search-box:hover > .search-txt {
  width: 400px;
  padding: 0 10px;
  color: black;
}

.search-box:hover {
  background: white;
}

.search-box:hover > .search-btn {
  background: #222831;
  color: #a3f7bf;
}

@media screen and (max-width: 1366px) {
  .search-box:hover > .search-txt {
    width: 300px;
    padding: 0 15px;
  }
}

.wrap {
  height: 200%;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
